@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');

.watch-section{
    width:100%;
    margin:auto;
    font-family:'Plus Jakarta Sans',sans-serif;
}


/* Hero Video */

.watch-hero{
    width:100%;
    height:120vh;
    overflow:hidden;
    margin-bottom:60px;
}

.watch-hero video{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}


/* Heading */

.watch-heading{
    text-align:center;
    font-size:38px;
    font-weight:400;
    margin-bottom:45px;
    letter-spacing:1px;
}


/* Grid */

.watch-grid{
    width:95%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:16px;
}


/* Card */

.watch-card{
    cursor:pointer;
}


.watch-image-box{
    height:315px;
    background:#f7f7f7;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}


.watch-heart{
    position:absolute;
    top:16px;
    right:16px;
    font-size:18px;
    cursor:pointer;
}


.watch-image{
    width:75%;
    height:75%;
    object-fit:contain;

    transform:none !important;
    transition:none !important;
}


/* Remove Hover */

.watch-card:hover,
.watch-image:hover,
.watch-image-box:hover,
.watch-card:hover .watch-image{
    transform:none !important;
}


/* Content */

.watch-content{
    padding-top:12px;
}

.watch-content h3{
    font-size:15px;
    font-weight:400;
    color:#222;
    margin-bottom:4px;

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.watch-content p{
    font-size:13px;
    font-weight:300;
    color:#8d8d8d;
}


/* Tablet */

@media(max-width:1000px){

.watch-grid{
    grid-template-columns:repeat(2,1fr);
}

.watch-hero{
    height:90vh;
}

.watch-image-box{
    height:280px;
}

}


/* Mobile */

@media(max-width:600px){

.watch-grid{
    grid-template-columns:1fr;
}

.watch-hero{
    height:60vh;
}

.watch-heading{
    font-size:30px;
}

.watch-image-box{
    height:260px;
}

.watch-image{
    width:65%;
    height:65%;
}

}